<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.leximath.newscruncher" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NewsCruncher</name>
    <description>
        A quantitative Analysis of the Media at your fingertips!
    </description>
    <author email="fccoelho@leximath.com.br" href="http://leximath.com.br">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
